# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#cleaning the datad 

clean_school_data_df = school_data.dropna(how="any")
#clean_school_data_df["budget"] = clean_school_data_df["budget"].map("${:,.2f}".format)
clean_school_data_df.head(50)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:

#clean_school_data_df["budget"] = clean_school_data_df[["budget"]].astype(float)

clean_school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [4]:
#total number of school in the data frame
total_schools = clean_school_data_df["school_name"].value_counts().sum()
total_schools

15

In [5]:
# total number of student 
total_student = clean_school_data_df["size"].sum()
total_student

39170

In [6]:
# total budget 
total_budget = clean_school_data_df["budget"].sum()
total_budget

24649428

In [7]:
clean_student_data = student_data.dropna(how="any")
clean_student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [8]:
# average math score  
math_score = clean_student_data["math_score"].mean()
math_score

78.98537145774827

In [9]:
# average math score  
reading_score = clean_student_data["reading_score"].mean()
reading_score

81.87784018381414

In [10]:
#percent math rate 


#total_number_mpass = clean_student_data.loc[clean_student_data["Student ID"]]
math_70_df = clean_student_data.loc[clean_student_data["math_score"] >= 70]
read_70_df = clean_student_data.loc[clean_student_data["reading_score"] >= 70]
mandr_70_df = math_70_df.loc[math_70_df["reading_score"] >= 70]
#math_70 = math_70_df.loc[math_70_df["Student ID"]]
                                   
math_rate = math_70_df["math_score"].count() / total_student *100
reading_rate = read_70_df["math_score"].count() / total_student *100

In [11]:
#overall passing rate
overall_df = (math_rate + reading_rate)/2

In [12]:
total_df = pd.DataFrame(
    {
        'Total School':total_schools,
        'Total Students': total_student,
        'Total Budget': total_budget,
        'Average Math Score': math_score,
        'Average Reading Score': reading_score,
        'Passing Math': math_rate,
        'Passing Reading': reading_rate,
        'Overall Passing Rate': overall_df
        
    },index=[0]

)

In [13]:
total_df.dtypes

Total School               int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
Passing Math             float64
Passing Reading          float64
Overall Passing Rate     float64
dtype: object

In [14]:
total_df["Total Budget"] = total_df["Total Budget"].map("${:,}".format)
total_df["Average Math Score"] = total_df["Average Math Score"].map("{:.2f}%".format)
total_df["Average Reading Score"] = total_df["Average Reading Score"].map("{:.2f}%".format)
total_df["Passing Math"] = total_df["Passing Math"].map("{:.2f}%".format)
total_df["Passing Reading"] = total_df["Passing Reading"].map("{:.2f}%".format)
total_df["Overall Passing Rate"] = total_df["Overall Passing Rate"].map("{:.2f}%".format)


total_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428",78.99%,81.88%,74.98%,85.81%,80.39%

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [15]:
clean_school_data_df.sort_values(["type"], axis=0 ,ascending= True,inplace=True) 
clean_school_data_df

    School ID            school_name      type  size   budget
2           2    Shelton High School   Charter  1761  1056600
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
14         14     Thomas High School   Charter  1635  1043130
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916

In [16]:
clean_school_district_data_df= clean_school_data_df.loc[clean_school_data_df["type"] == "District", :]
clean_school_district_data_df.head()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363

In [17]:
total_schools = clean_school_district_data_df["school_name"].value_counts().sum()
total_schools

7

In [18]:
total_student = clean_school_district_data_df["size"].sum()
total_student

26976

In [19]:
total_budget = clean_school_district_data_df["budget"].sum()
total_budget

17347923

In [20]:
merge_table = pd.merge(clean_school_district_data_df,clean_student_data,on ="school_name",how ='left')
merge_table

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
26946,13,Ford High School,District,2739,1763916,37505,Jason Wagner,M,12th,97,80
26947,13,Ford High School,District,2739,1763916,37506,Maurice Nielsen,M,12th,76,66
26948,13,Ford High School,District,2739,1763916,37507,James Turner,M,12th,73,74
26949,13,Ford High School,District,2739,1763916,37508,Larry Pope,M,9th,74,61
26950,13,Ford High School,District,2739,1763916,37509,Robert Martin,M,12th,80,67
26951,13,Ford High School,District,2739,1763916,37510,Darius Jimenez,M,12th,89,82
26952,13,Ford High School,District,2739,1763916,37511,Daniel Turner,M,10th,68,58
26953,13,Ford High School,District,2739,1763916,37512,Lauren Cook,F,9th,84,72
26954,13,Ford High School,District,2739,1763916,37513,Wayne Washington,M,11th,79,63
26955,13,Ford High School,District,2739,1763916,37514,Leslie White,F,12th,80,73
26956,13,Ford High School,District,2739,1763916,37515,Maria Andrade,F,12th,69,87
26957,13,Ford High School,District,2739,1763916,37516,Tracy Sanchez,F,11th,76,75
26958,13,Ford High School,District,2739,1763916,37517,Kayla Johnson,F,9th,71,80
26959,13,Ford High School,District,2739,1763916,37518,Daniel Andrews,M,9th,89,98
26960,13,Ford High School,District,2739,1763916,37519,Ruben Ramirez,M,12th,84,65
26961,13,Ford High School,District,2739,1763916,37520,Benjamin Odonnell,M,11th,63,74
26962,13,Ford High School,District,2739,1763916,37521,Meredith Tapia,F,9th,77,78
26963,13,Ford High School,District,2739,1763916,37522,Ricky Little,M,12th,90,68
26964,13,Ford High School,District,2739,1763916,37523,Rebecca Valenzuela,F,10th,90,84
26965,13,Ford High School,District,2739,1763916,37524,Carrie Fletcher,F,9th,84,72
26966,13,Ford High School,District,2739,1763916,37525,Steven Summers,M,9th,71,71
26967,13,Ford High School,District,2739,1763916,37526,Jon Santiago,M,10th,98,56
26968,13,Ford High School,District,2739,1763916,37527,Thomas Christensen,M,9th,98,60
26969,13,Ford High School,District,2739,1763916,37528,Nicholas Perry,M,11th,83,83
26970,13,Ford High School,District,2739,1763916,37529,Victoria Rodriguez,F,11th,76,69
26971,13,Ford High School,District,2739,1763916,37530,William Rivera,M,9th,63,59
26972,13,Ford High School,District,2739,1763916,37531,Bernard Reid,M,9th,94,80
26973,13,Ford High School,District,2739,1763916,37532,Dawn Sawyer,F,12th,91,66
26974,13,Ford High School,District,2739,1763916,37533,Thomas Knapp,M,12th,75,70
26975,13,Ford High School,District,2739,1763916,37534,Melissa Porter,F,9th,76,84

In [21]:
#average math score
math_score = merge_table["math_score"].mean()
math_score

76.98702550415184

In [22]:
# average reading score  
reading_score = merge_table["reading_score"].mean()
reading_score

80.96248517200475

In [23]:
math_70_df = merge_table.loc[clean_student_data["math_score"] >= 70]
read_70_df = merge_table.loc[clean_student_data["reading_score"] >= 70]
mandr_70_df = math_70_df.loc[math_70_df["reading_score"] >= 70]
#math_70 = math_70_df.loc[math_70_df["Student ID"]]
                                   
math_rate = math_70_df["math_score"].count() / total_student *100
reading_rate = read_70_df["math_score"].count() / total_student *100

In [24]:
overall_df = (math_rate + reading_rate)/2

In [25]:
total_district_df = pd.DataFrame(
    {
        'Total District School':total_schools,
        'Total District Students': total_student,
        'Total District Budget': total_budget,
        'Average District Math Score': math_score,
        'Average District Reading Score': reading_score,
        'Passing Math (District)': math_rate,
        'Passing Reading(District)': reading_rate,
        'Overall District Passing Rate': overall_df
        
    },index=[0]

)

In [26]:
total_district_df["Total District Budget"] = total_district_df["Total District Budget"].map("${:,}".format)


total_district_df

,Total District School,Total District Students,Total District Budget,Average District Math Score,Average District Reading Score,Passing Math (District),Passing Reading(District),Overall District Passing Rate
0,7,26976,"$17,347,923",76.987026,80.962485,77.131524,87.196026,82.163775

## School Summary

In [27]:
#group by schools
by_school = school_data_complete.set_index('school_name').groupby(['school_name'])
#by types
school_types =clean_school_data_df.set_index('school_name')['type']

# student per each school
student_per_school = by_school['Student ID'].count()

# school budget
school_budget = clean_school_data_df.set_index('school_name')['budget']

#per student budget
student_budget = clean_school_data_df.set_index('school_name')['budget']/clean_school_data_df.set_index('school_name')['size']

#avg scores by school
avgerage_math = by_school['math_score'].mean()
avgerage_read = by_school['reading_score'].mean()

# % passing scores
math_70_type_df = (school_data_complete[school_data_complete["math_score"] >= 70].groupby('school_name')['Student ID'].count()/student_per_school)*100
read_70_type_df =(school_data_complete[school_data_complete["reading_score"] >= 70].groupby('school_name')['Student ID'].count()/student_per_school)*100
overall = (math_70_type_df + read_70_type_df )/2

school_summary = pd.DataFrame({
    
    "School Type": school_types,
    "Total Students": student_per_school,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avgerage_math,
    "Average Reading Score": avgerage_read,
    '% Passing Math': math_70_type_df ,
    '% Passing Reading': read_70_type_df,
    "Overall Passing Rate": overall
})

school_summary

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,581.0,248087,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,600.0,1056600,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,583.0,1049400,83.682222,83.955000,93.333333,96.611111,94.972222

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [28]:
top_schools = school_summary.sort_values(["Overall Passing Rate"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [29]:
bottom_schools = school_summary.sort_values(["Overall Passing Rate"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [30]:
clean_student_data
ninth_grade_data = clean_student_data.loc[clean_student_data['grade']=='9th'].groupby('school_name')["math_score"].mean()
tenth_grade_data = clean_student_data.loc[clean_student_data['grade']=='10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_data = clean_student_data.loc[clean_student_data['grade']=='11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_data = clean_student_data.loc[clean_student_data['grade']=='12th'].groupby('school_name')["math_score"].mean()

math_data_summary = pd.DataFrame({
     "School Type": school_types,
     "9th Grade" : ninth_grade_data,
     "10th Grade" : tenth_grade_data,
     "11th Grade": eleventh_grade_data,
     "12th Grade" : twelfth_grade_data
    
    
    
})
math_data_summary["9th Grade"] = math_data_summary["9th Grade"].map("{:.2f}%".format)
math_data_summary["10th Grade"] = math_data_summary["10th Grade"].map("{:.2f}%".format)
math_data_summary["11th Grade"] = math_data_summary["11th Grade"].map("{:.2f}%".format)
math_data_summary["12th Grade"] = math_data_summary["12th Grade"].map("{:.2f}%".format)
                        
math_data_summary

                      School Type 9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School       District    77.08%     77.00%     77.52%     76.49%
Cabrera High School       Charter    83.09%     83.15%     82.77%     83.28%
Figueroa High School     District    76.40%     76.54%     76.88%     77.15%
Ford High School         District    77.36%     77.67%     76.92%     76.18%
Griffin High School       Charter    82.04%     84.23%     83.84%     83.36%
Hernandez High School    District    77.44%     77.34%     77.14%     77.19%
Holden High School        Charter    83.79%     83.43%     85.00%     82.86%
Huang High School        District    77.03%     75.91%     76.45%     77.23%
Johnson High School      District    77.19%     76.69%     77.49%     76.86%
Pena High School          Charter    83.63%     83.37%     84.33%     84.12%
Rodriguez High School    District    76.86%     76.61%     76.40%     77.69%
Shelton High School       Charter    83.42%     82.92%     83.38%     83.78%
Thomas High School        Charter    83.59%     83.09%     83.50%     83.50%
Wilson High School        Charter    83.09%     83.72%     83.20%     83.04%
Wright High School        Charter    83.26%     84.01%     83.84%     83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [31]:
clean_student_data
ninth_grade_data = clean_student_data.loc[clean_student_data['grade']=='9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_data = clean_student_data.loc[clean_student_data['grade']=='10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_data = clean_student_data.loc[clean_student_data['grade']=='11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_data = clean_student_data.loc[clean_student_data['grade']=='12th'].groupby('school_name')["reading_score"].mean()

reading_data_summary = pd.DataFrame({
     "School Type": school_types,
     "9th Grade" : ninth_grade_data,
     "10th Grade" : tenth_grade_data,
     "11th Grade": eleventh_grade_data,
     "12th Grade" : twelfth_grade_data
    
    
    
})
reading_data_summary["9th Grade"] = reading_data_summary["9th Grade"].map("{:.2f}%".format)
reading_data_summary["10th Grade"] = reading_data_summary["10th Grade"].map("{:.2f}%".format)
reading_data_summary["11th Grade"] = reading_data_summary["11th Grade"].map("{:.2f}%".format)
reading_data_summary["12th Grade"] = reading_data_summary["12th Grade"].map("{:.2f}%".format)

In [32]:
reading_data_summary

                      School Type 9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School       District    81.30%     80.91%     80.95%     80.91%
Cabrera High School       Charter    83.68%     84.25%     83.79%     84.29%
Figueroa High School     District    81.20%     81.41%     80.64%     81.38%
Ford High School         District    80.63%     81.26%     80.40%     80.66%
Griffin High School       Charter    83.37%     83.71%     84.29%     84.01%
Hernandez High School    District    80.87%     80.66%     81.40%     80.86%
Holden High School        Charter    83.68%     83.32%     83.82%     84.70%
Huang High School        District    81.29%     81.51%     81.42%     80.31%
Johnson High School      District    81.26%     80.77%     80.62%     81.23%
Pena High School          Charter    83.81%     83.61%     84.34%     84.59%
Rodriguez High School    District    80.99%     80.63%     80.86%     80.38%
Shelton High School       Charter    84.12%     83.44%     84.37%     82.78%
Thomas High School        Charter    83.73%     84.25%     83.59%     83.83%
Wilson High School        Charter    83.94%     84.02%     83.76%     84.32%
Wright High School        Charter    83.83%     83.81%     84.16%     84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [33]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], spending_bins, labels = group_names)

In [34]:
by_spending = school_data_complete.groupby('spending_bins')

In [35]:
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
Overall_df = (pass_math + pass_reading)/2

In [36]:
#dataFrame
scores_per_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    "Overall Passing Rate": Overall_df

})

In [37]:
#re-ordering th columns 
scores_per_spend = scores_per_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_per_spend.index.name = "Spending ranges"
scores_per_spend = scores_per_spend.reindex(group_names)

#formating
scores_per_spend.style.format({'Average Math Score': '{:.2f}%', 
                              'Average Reading Score': '{:.2f}%', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [38]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)

In [39]:
by_size = school_data_complete.groupby('size_bins')

#calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
Overall_df = (pass_math + pass_reading)/2


#dataFrame
scores_per_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    "Overall Passing Rate": Overall_df

})

scores_per_spend.index.name = "School size"
scores_per_spend = scores_per_spend.reindex(group_names)

scores_per_size.style.format({'Average Math Score': '{:.2f}%', 
                              'Average Reading Score': '{:.2f}%', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [40]:
by_type =school_data_complete.groupby('type')

avg_math = by_type['math_score'].mean()
avg_read = by_type['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
Overall_df = (pass_math + pass_reading)/2


#dataFrame
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    "Overall Passing Rate": Overall_df

})

scores_by_type.index.name = "School type"


scores_by_type.style.format({'Average Math Score': '{:.2f}%', 
                              'Average Reading Score': '{:.2f}%', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})